.location-weather-container {
  height: 80vh;
  max-width: 90vw;
  border: 10px solid #ff8c00;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  font-family: "Raleway", sans-serif;
  padding: 3rem;
  overflow: hidden;
  flex-wrap: wrap;

  .left-section,
  .right-section {
    flex: 1;
    padding: 3rem;
    min-width: 350px;
  }

  .left-section {
    text-align: center;

    .city-name {
      font-size: clamp(4rem, 7vw, 6rem);
      font-weight: bold;
      color: #ff8c00;
    }

    .temperature {
      font-size: clamp(5rem, 9vw, 7rem);
      font-weight: bold;
      margin: 1rem 0;
      color: #222;
    }

    .weather-description {
      font-size: clamp(2rem, 4vw, 3rem);
      font-weight: bold;
      color: #222;
      margin-bottom: 1rem;
    }
  }

  .right-section {
    text-align: left;
    font-size: clamp(1.5rem, 3vw, 2.2rem);
    color: #333;

    p {
      margin: 1rem 0;
      strong {
        color: #222;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;

    .right-section {
      text-align: center;
    }
  }
}

.no-city-message {
  text-align: center;
  font-size: clamp(2.5rem, 5vw, 3.5rem);
  font-weight: bold;
  color: #333;
  padding: 6rem;
  font-family: "Raleway", sans-serif;
}
