@if (weatherData) {
<div class="location-weather-container">
  <div class="left-section">
    <h2 class="city-name">{{ weatherData.name }}</h2>
    <p class="weather-description">{{ weatherData.weather[0].description }}</p>
    <p class="temperature">{{ weatherData.main.temp | number : "1.0-0" }}°C</p>
  </div>

  <div class="right-section">
    <p>
      <strong>Feels Like:</strong>
      {{ weatherData.main.feels_like | number : "1.0-0" }}°C
    </p>
    <p>
      <strong>Min Temperature:</strong>
      {{ weatherData.main.temp_min | number : "1.0-0" }}°C
    </p>
    <p>
      <strong>Max Temperature:</strong>
      {{ weatherData.main.temp_max | number : "1.0-0" }}°C
    </p>
    <p><strong>Pressure:</strong> {{ weatherData.main.pressure }} hPa</p>
    <p><strong>Humidity:</strong> {{ weatherData.main.humidity }}%</p>
    <p>
      <strong>Visibility:</strong>
      {{ weatherData.visibility / 1000 | number : "1.0-0" }} km
    </p>
    <p>
      <strong>Wind Speed:</strong>
      {{ weatherData.wind.speed | number : "1.0-0" }} km/h
    </p>
  </div>
</div>
} @else {
<p class="no-city-message">Please enter the city name in the navigation bar</p>
}
